{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

    <div class="login-h1">
        Set Password
    </div>

    <form method="POST" action="{% url 'account_set_password' %}" class="login-form" >
        {% csrf_token %}

        {{ form.password1.errors | safe }}
        <div class="wrap-input">
            {{ form.password1|attr:"class:input" }}
            <label for="{{ form.password1.id_for_label }}">New Password</label>
            <div class="show-password"></div>
        </div>

        {{ form.password2.errors | safe }}
        <div class="wrap-input">
            {{ form.password2|attr:"class:input" }}
            <label for="{{ form.password2.id_for_label }}">New Password (again)</label>
            <div class="show-password"></div>
        </div>


        <div class="container-login-form-btn">
            <button class="login-form-btn" type="submit" name="action">
                Set Password
            </button>
        </div>

    </form>

{% endblock %}
