{% extends "account/base.html" %}

{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block head_title %}Change Password{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'templates/css/style.css' %}">
{% endblock %}

{% block content %}

    <div class="login-h1">
            Change Password
        </div>

    <form method="POST" action="{% url 'account_change_password' %}" class="login-form" >
        {% csrf_token %}

        {{ form.oldpassword.errors | safe }}
        <div class="wrap-input">
            {{ form.oldpassword|attr:"class:input" }}
            <label for="{{ form.oldpassword.id_for_label }}">Current Password</label>
        </div>

        {{ form.password1.errors | safe }}
        <div class="wrap-input">
            {{ form.password1|attr:"class:input" }}
            <label for="{{ form.password1.id_for_label }}">New Password</label>
            <div class="show-password"></div>
        </div>

        {{ form.password2.errors | safe }}
        <div class="wrap-input">
            {{ form.password2|attr:"class:input" }}
            <label for="{{ form.password2.id_for_label }}">New Password (again)</label>
            <div class="show-password"></div>
        </div>


        <div class="container-login-form-btn">
            <button class="login-form-btn" type="submit" name="action">
                Change Password
            </button>
        </div>

        <div class="form-desc">
            <a class="form-desc-link" href="{% url 'account_reset_password' %}">
                Forgot Password?
            </a>
        </div>

    </form>

{% endblock %}

{% block extra_body %}
    <script src="{% static 'templates/js/index.js' %}"></script>
{% endblock %}