{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="login-h1">
        Password Reset
    </div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="form-desc">
        <span class="main-text-title">Forgotten your password?</span>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it
    </div>

    <div style="padding: 10px">

    </div>

    <form method="POST" action="{% url 'account_reset_password' %}" class="login-form">
        {% csrf_token %}

        {{ form.email.errors | safe }}

        <div class="wrap-input">
            {{ form.email|attr:"class:input" }}
            <label for="id_email">E-mail</label>
        </div>

        <div class="container-login-form-btn">
            <button class="login-form-btn" type="submit">
                Reset My Password
            </button>
        </div>

    </form>

    <div class="form-desc">
        Please contact us if you have any trouble resetting your password.
    </div>


{% endblock %}
