{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <div class="div-search">
            <form class="form-search" method="post" action="{% url 'builtwith' %}">
                {% csrf_token %}
                <input class="input-search" id="link" name="link" type="text" placeholder="Enter URL">
                <button class="button-search" type="submit" onclick="showLoading()">Search</button>
            </form>
        </div>
    </div>

        <div id="loading" style="display: none; padding: 100px; text-align: center">
            <h2>Loading...</h2>
        </div>

        {% if pars == True %}
            <div class="container">
                <div style="padding: 30px;">
                    <table class="tab_cols">
                         <thead>
                            <tr>
                                <th class="th_tab_2_cols">Tag</th>
                                <th class="th_tab_2_cols">Text</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i_lst in lst %}
                            <tr>
                                <td class="td_tab_2_cols">{{ i_lst.0 }}</td>
                                <td class="td_tab_2_cols">{% for j_lst in i_lst.1 %}<p class="tab_p">{{ j_lst }}</p>{% endfor %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div style="padding: 30px;">
                    <table class="tab_cols">
                         <thead>
                            <tr>
                                <th class="th_tab_2_cols">Tag</th>
                                <th class="th_tab_2_cols">Text</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i_lst in fast_check_list %}
                            <tr>
                                <td class="td_tab_2_cols">{{ i_lst.0 }}</td>
                                <td class="td_tab_2_cols">{% for j_lst in i_lst.1 %}<p class="tab_p">{{ j_lst }}</p>{% endfor %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if len_caching_test_list != 0 %}
                <div style="padding: 30px;">
                    <table class="tab_cols">
                         <thead>
                            <tr>
                                <th class="th_tab_2_cols">Link</th>
                                <th class="th_tab_2_cols">Cache-Control</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i_lst in caching_test_list %}
                            <tr>
                                <td class="td_tab_2_cols">{{ i_lst.0 }}</td>
                                <td class="td_tab_2_cols">{{ i_lst.1 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

                <div style="padding: 30px;">
                    <table class="tab_cols">
                         <thead>
                            <tr>
                                <th class="th_tab_2_cols">Tag</th>
                                <th class="th_tab_2_cols">Text</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i_lst in nested_tables_list %}
                            <tr>
                                <td class="td_tab_2_cols">{{ i_lst.0 }}</td>
                                <td class="td_tab_2_cols">{% for j_lst in i_lst.1 %}<p class="tab_p">{{ j_lst }}</p>{% endfor %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div style="padding: 30px;">
                    <table class="tab_cols">
                         <thead>
                            <tr>
                                <th class="th_tab_2_cols">Tag</th>
                                <th class="th_tab_2_cols">Text</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="td_tab_2_cols">{{ adstxt_list.0 }}</td>
                                <td class="td_tab_2_cols">{{ adstxt_list.1 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

</body>
<script src="{% static 'js/script.js' %}"></script>
</html>