{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <div class="div-search">
            <form class="form-search" method="post" action="{% url 'micro' %}">
                {% csrf_token %}
                <input class="input-search" id="link" name="link" type="text" placeholder="Enter URL">
                <button class="button-search" type="submit" onclick="showLoading()">Search</button>
            </form>
        </div>
    </div>

        <div id="loading" style="display: none; padding: 100px; text-align: center">
            <h2>Loading...</h2>
        </div>

        {% if pars == True %}
            <div class="container">
                <div style="padding: 30px;">
                    <table class="tab_cols">
                         <thead>
                            <tr>
                                <th class="th_tab_3_col1_2">Tag</th>
                                <th class="th_tab_3_col1_2">Text</th>
                                <th class="th_tab_3_col3">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i_lst in lst %}
                            <tr>
                                <td class="td_tab_3_col1_2">{{ i_lst.tag }}</td>
                                <td class="td_tab_3_col1_2">{{ i_lst.text }}</td>
                                <td class="td_tab_3_col3 {{ i_lst.status }}">{{ i_lst.status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

</body>
<script src="{% static 'js/script.js' %}"></script>
</html>